/* Index CSS */
/* Defaults */
body { 
    background: #f4f2f0;
    font-size: 30px;
    color: #331a00;
    font-family: Tahoma, sans-serif;
    margin: 40px;
}
img{
    max-width: 100%;
    height: auto;
    border: 2px solid #f7f2ee;
    display: block; 
    }
a { 
    text-decoration: none; /* changes underline in hyperlink */
    color: #003153; /* can change color */
}
/* Personal CSS */
.personal {
    text-align: left;
    margin: 50px; 
    padding-top: 50px;
    padding-right: 280px;
    font-size: 30px;
}
.personal h1 {
    font-size: 75px;
}
.about {
    background: #f7f2ee;
}

/* Project CSS */
.project {
    display: flex;
    font-size: 30px;
    padding-bottom: 10px;
}
.project-left {
    width: 25%;
    text-align: left;
    padding-right: 25px;
}
.project-contentL {
    flex: 1;
    text-align: center;
    padding-top: 20px;
    padding-left:10px;
}
/* Resume CSS */
/*Parts of section related CSS suggested by AI */
.section {
    display: flex;
    font-size: 20px;
}
.section-title {
    width: 25%;
    font-weight: bold;
    text-align: left;
}
.section-content {
    flex: 1;
    text-align: left;
}